<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Recipe Details</title>
        <link rel="stylesheet" href="{% static 'recipes/style.css' %}">
    </head>
    
    <body class="details-page">
        <div class="details-card">
            <h2>Details: {{object.name}}</h2>
            <p><b>Title: </b> {{object.name}} </p>
            <p><b>Cooking Time: </b> {{object.cooking_time}} minutes</p>
            <p><b>Ingredients: </b> {{object.ingredients}} </p>
            <p><b>Difficulty: </b> {{object.difficulty}} </p>
            <p><b>Description: </b> {{object.description}} </p>
            <img src="{{object.pic.url}}" />
            <a href="{% url 'recipes:list' %}" class="back-btn">Back</a>
        </div>
    </body>
</html>