<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Records</title>
        <link rel="stylesheet" href="{% static 'recipes/style.css' %}">
    </head>

    <body class="search-page">
        {% include 'navbar/navbar.html' %}
        <h1 class="search-h1">Search for recipes records</h1>
        <hr>
        <form class="search-form" method="POST">
            {% csrf_token %}
            <div class="search-form-group">
                <label for="form.recipe_name.id_for_label">{{form.recipe_name.label_tag}}</label>
                {{form.recipe_name}}
            </div>
            <div class="search-form-group">
                <label for="form.ingredients.id_for_label">{{form.ingredients.label_tag}}</label>
                {{form.ingredients}}
            </div>
            <div class="search-form-group">
                <label for="form.difficulty.id_for_label">{{form.difficulty.label_tag}}</label>
                {{form.difficulty}}
            </div>

            <p>You can use only one filter at a time — recipe name, ingredients, or difficulty.</p>

            <br>

            <div class="btn-group">
                <button type="submit" class="search-btn">Search</button>
                <button type="submit" class="showall-btn" name="show_all" value="true">Show All Recipes</button>
            </div>

            <hr>

            <div class="search-results">
                {% if recipes_df %}
                    {% if chart %}
                        <img class="chart-img" src="data:image/png;base64, {{chart|safe}}" alt="Chart">
                        <br>
                    {% endif %}
                    {{recipes_df|safe}}
                {% else %}
                    <h3 class="search-h3">No recipes, the list is empty</h3>
                {% endif %}
            </div>
        </form>

        <!-- Import records.js to prevent users to use more than 1 filter field at a time -->
        <script src="{% static 'recipes/records.js' %}"></script>
    </body>
</html>