<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Auto redirect to homepage after 3s -->
        <meta http-equiv="refresh" content="3;url={% url next_page %}" >
        <title>Logout</title>
        <link rel="stylesheet" href="{% static 'recipes/style.css' %}">
    </head>
    
    <body class="logout-page">
        <div class="logout-card">
            <h1>You have successfully logged out!</h1>
            <p>{{ redirect_message }}</p>
        </div>
    </body>
</html>