<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Navbar</title>
        <link rel="stylesheet" href="{% static 'recipes/style.css' %}">
    </head>
    
    <body class="navbar">
        <header class="{% if is_home %} navbar-home
                        {% else %} navbar-default
                        {% endif %}"
        >
            <h1><a href="{% url 'recipes:home' %}">Recipe List</a></h1>
            <nav>
                <ul class="nav-links">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'recipes:home' %}">Home</a></li>
                        <li><a href="{% url 'recipes:list' %}">Recipes</a></li>
                        <li><a href="{% url 'recipes:records' %}">Search</a></li>

                        {% if request.path == '/' %}   <!-- If user logs out from homepage, it will be to login page redirected -->  
                            <li><a href="{% url 'logout' %}?next=login">Logout</a></li>
                        {% else %}      <!-- If user logs out from all other pages, it will be to homepage redirected --> 
                            <li><a href="{% url 'logout' %}?next=home">Logout</a></li>
                        {% endif %}
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="#">Singup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
    </body>
</html>