<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'recipes/style.css' %}">
    </head>
    
    <body class="login-page">
        <div class="login-container">
            <h1>Login</h1>

            {% comment %} Check for error message {% endcomment %}
            {% if error_message %}
                <p class="err_message">{{error_message}}</p>
            {% endif %}
    
            {% comment %} Print form {% endcomment %}
            <form class="login-form" action="" method="POST">
                {% comment %} Add Django security token {% endcomment %}
                {% csrf_token %}
    
                {% comment %} Print form received from view {% endcomment %}
                {{form}}
    
                {% comment %} Add button {% endcomment %}
                <div class="btn-container">
                    <button type="submit" class="submit-btn">Submit</button>
                    <a href="{% url 'recipes:home' %}" class="cancel-btn">Cancel</a>
                </div>
            </form>
        </div>
    </body>
</html>